<h1>{{ titulo }}</h1>
<table>
    <tr>
      <td>
        <h3>Componentes</h3>
        <p>Es el elemento en el cual estará la codificación de la aplicación, es decir, la parte visual con las etiquetas html y la parte lógica con el uso de typescript. Estos componentes están alojados en la cajita que denominamos modulo.</p>
      </td>
      <td>
        <div><img src="https://miro.medium.com/max/1780/1*eWKPcK7SzCha3T50TxleNA.png" alt="componente"></div>
      </td>
    </tr>
  
    <tr>
      <td>
        <div><img src="https://gblobscdn.gitbook.com/assets%2F-LbFy569GFu09bPpzMDJ%2F-M6NoaHONL67Dlqg9QCA%2F-M6NpJkovpBks9xtolRz%2Fcarbon%20(5).png?alt=media&token=7285a1ff-2153-4c44-ae3d-b0bde53aac21" alt="directiva"></div>
      </td>
      <td>
        <h3>Directivas</h3>
        <p>Básicamente son como variables condicionales que pueden ser declaradas y usadas como elemento para interactuar con nuestras etiquetas del html.</p>
      </td>
    </tr>
  </table>

