<!DOCTYPE html>
<html>
	<body>
	<header id="main-header">
		<a id="logo-header" href="#">
			<img src="https://www.sasf.net/images/imagenesSasf/logo2.png" alt="SASF">
		</a> 
		<nav>
			<ul>
				<li><a href="#firstSection">Definici&oacute;n</a></li>
				<li><a href="#secondSection">M&oacute;dulos</a></li>
				<li><a href="#thirdSection">Componentes y directivas</a></li>
				<li><a href="#fourSection">Comandos</a></li>
			</ul>
		</nav>	
	</header>
	
	<section id="firstSection">
	  <h1>Definici&oacute;n - Angular</h1>
	  <p>Angular es una plataforma para la construcción de aplicaciones web de computadoras de escritorio y aplicaciones nativas de celulares. Es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</p>
	  <div id="logo-angular"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="angular"></div>
	</section>
	
	<section id="secondSection">
      <app-comp-uno></app-comp-uno>
	</section>

	<section id="thirdSection"> 
      <app-comp-dos></app-comp-dos>
	</section>
	
	<section id="fourSection"> 
		<h1>Comandos</h1>
		<p id= "centrar-p">Los comandos usados para la generacion de los diferentes componentes en angular cli son los siguientes: </p>
		<div id="comandos"><img src="https://image.slidesharecdn.com/introaangular-170130092151/95/introduccin-a-angular-15-638.jpg?cb=1485768441" alt="comandos-angular-cli"></div>
	</section>
    
	<footer id="main-footer">
		<p id = "pcentrado">&copy; 2020 <a href="https://www.linkedin.com/in/andres-quimis-velez/" target="_blank">Andres Quimis</a></p>
	</footer>
	
	</body>
</html>